.Profile {
  display: flex;
  flex-direction: column;

  > div {
    background: #eee;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    padding: 15px;
    border-radius: 5px;
    height: 30vh;
    p {
      text-align: center;
      margin-bottom: 50px;
    }
  }
}